<div id="alertScreen">
    <div id="alertMessageHolder">
        <div id="alertMessageTitleHolder">
            <div id="middleHolder"></div>
            <div id="alertMessageTitleText"> Ey Dial </div>
        </div>
        <div id="alertMessageBodyHolder">
            <div id="middleHolder"></div>
            <div id="alertMessageText"> {{message}} </div>
        </div>
        <div id="alertMessageButtonHolder" ng-click="closeThisDialog()">
            <div id="middleHolder"></div>
            <div id="alertMessageButtonText"> OK </div>
        </div>
    </div>
</div>
