<div id="recentScreen">
    <div class="navBar">
        <div id="navigationBar" >
            

            <div id="navigationBarTitle" >
                Help
            </div>
            <div class="leftmenuholder" ng-click="showLeftMenu()">
            <div id="hammenu" >
             <i class="fa fa-bars"></i>
            </div>
          </div>
        </div>
     </div>


    <div id="emptyMessageBlock">
        <div id="emptyMessage">Help Screen Content under review</div>
    </div>
</div>